<nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand text-success" href="{{ url_for('index') }}">Pantri</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pantry.index') }}">
                        <i class="bi bi-box-seam me-1"></i> Pantry
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('recipes.index') }}">
                        <i class="bi bi-journal-text me-1"></i> Recipes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('shopping.index') }}">
                        <i class="bi bi-cart me-1"></i> Shopping List
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
